:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'Aldrich', sans-serif;
  src: url('./assets/Aldrich/Aldrich-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h2 {
  font-family: "Aldrich", sans-serif;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.sliderBox {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#paramBox {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

#buttonForm {
  display: flex;
  justify-content: flex-end;
  gap: 25px;
}

button {
  margin: 10px;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #e8e3e3;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

#settingsCard {
  border: 1px solid red;
  width: 400px;
}

#outerBox {
  display: flex;
  justify-content: space-between
}

#configButton {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 20px;
}

#timeInput {
  margin-top: 8px;
  padding: 5px;
  border-radius: 4px;
  background-color: #adadad;
  height: 25px;
  text-align: center;
  border: 0;
}

#configContainer {
  display: flex;

}

.graphs {
  width: 900px;
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: space-between;
  /* background-color: #666565; */
}

#graphContain {
  border-radius: 8px;
}

table {
  background-color: #363637;
  border: 0;
  border-radius: 8px;
}

th, td {
  color: #adadad;
  border: none;
}

tr:nth-child(odd) {
  background-color: #242424;
}

.heartbeat {
  animation: heartbeat 1.5s infinite; 
}

@keyframes heartbeat {
  0%, 100% {
    transform: scale(0.9); 
  }
  15% {
    transform: scale(1.1); 
  }
  30% {
    transform: scale(1.0); 
  }
  45% {
    transform: scale(1.1); 
  }
  60% {
    transform: scale(0.9); 
  }
}

.sliderContainer {
  position: relative; /* Change to relative */
  width: 100%; /* Set a width */
  height: 80px; /* Define a height */
  display: flex;
  align-items: center;
  justify-content: center;
}

.tabs {
  display: flex;
  position: relative;
  background: black;
  padding: 8px; /* Adjust padding for a better fit */
  border-radius: 40px; /* Adjusted for a smaller radius */
  box-shadow: 0 6px 12px 0 rgba(24, 94, 224, 0.15);
}

.tabs * {
  z-index: 4;

}

.radio {
  display: none;
}

.tab {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px; /* Adjust height */
  width: 150px; /* Adjust width */
  font-size: 16px; /* Adjust font size */
  font-weight: 600;
  border-radius: 40px; /* Adjusted for a smaller radius */
  cursor: pointer;
  transition: color 0.15s ease-in;
}

.radio:checked + label {
  color: #042100;
}

input[id=radio-1]:checked ~ .graphSlider {
  transform: translateX(0);
}

input[id=radio-2]:checked ~ .graphSlider {
  transform: translateX(150px); /* Match with tab width */
}

input[id=radio-3]:checked ~ .graphSlider {
  transform: translateX(300px); /* Match with tab width */
}

.graphSlider {
  position: absolute;
  display: flex;
  height: 40px; /* Adjust height */
  width: 150px; /* Match with tab width */
  background: #54abb4;
  z-index: 1;
  border-radius: 40px; /* Adjusted for a smaller radius */
  transition: 0.25s ease-out;
}

@media (max-width: 760px) {
  .tabs {
    transform: scale(0.6);
  }
}

/* .thead {
  background-color: #242424;
  color: #242424;
  font-weight: 900;
} */
/*
/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  } */




